*.idea
*.iml
target
Будет удалено TestFile.json
Будет удалено TestFile.xml
Будет удалено src/main/resources/
Будет удалено src/test/
Будет удалено target/
Будет удалено Test.txt
Будет удалено Test1.txt
Будет удалено TestFile1.xml
/TestFile.xml
/TestFile.json
/SoftServeProject1.iml
